.col-md-12 > p {
	line-height: 22px;
	font-weight: 500;
	margin:0;
}

.me4-about-box2 {
	min-height: 142px;
}

.me4-about-box2 > p {
	line-height: 22px;
	margin: 0;
}

.me4-about-box2 > ul {
	margin:0;
	padding: 0;
	padding-left: 16px;
	list-style-image: url("../img/aME4-listIcon.png");
}

.me4-about-box2 > ul > li {
	margin-bottom: 8px;
	padding-left: 4px;
}

.me4-about-box2 > ul > li:last-child {
	margin-bottom: 0;
}

 .me4-about-content1 {
 	margin: 48px 0;
 }

.me4-about-imgbox {
	position: relative;
	width: 64px;
	height: 64px;
	display: block;
}

.me4-about-imgbox > img:first-child {
	background: #2e7d32;
	border:none;
	width: 100%;
	height: 100%;
	display: block;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.me4-about-imgbox > img:last-child {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}

.me4-about-box1 {
	margin-left: 76px;
}

.me4-about-box1 > p:first-child {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
}

.me4-about-box1 > p:last-child {
	margin: 0;
}