.me4-contato-mapBox {
	padding: 0;
}

#map {
	position: relative;
	min-height: 406px;
	overflow: hidden;
}

#map > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px){
	.me4-contato-mapBox {
		display: none;
	}
}