.me4-tabList-content {
	padding: 0;
}

.me4-tabList-content > ul {
	border: none;
}

.me4-tabList-content > ul > li {
	float: inherit;
}

.me4-tabList-content > ul > li > a,
.me4-tabList-content > ul > li > a:active,
.me4-tabList-content > ul > li > a:focus,
.me4-tabList-content > ul > li > a:visited {
	border:none;
	border-radius: 0;
	margin: 0;
	font-size: 16px;
	color: #676767;
	font-weight: 500;
	line-height: 22px;
	padding: 18px 16px;
	transition: background-color 0.3s;
}

.me4-tabList-content > ul > li.active > a,
.me4-tabList-content > ul > li.active > a:hover {
	border: none !important;
	border-radius: 0;
	background-color: #2e7d32 !important;
	color: #fff !important;
}