/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

.carousel,
.me4-banner-content > .carousel-inner > .item,
.me4-banner-content > .carousel-inner > .active {
    height: 100%;
}

.me4-banner-content > .carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.me4-banner-content > .carousel-inner > .item > .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-caption > h1 {
    font-size: 64px;
    margin-bottom: 32px;
}