body, html {
	font-family: "Roboto", "Open Sans", "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	background: #f2f2f2;
	margin:0;
	padding:0;
	height:100%;
}

#main {
	min-height: 100%;
	position: relative;
}


/************************************************************************************************
	   							 		HEADER - MENU E LOGO
*************************************************************************************************/

.me4-navBar {
	min-height: inherit;
	background: #fff;
	border:none;
	border-radius: 0;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	padding-left: 16px;
	padding-right: 16px;
}

.me4-navBar-header > .navbar-brand {
	height: inherit;
	padding: 16px 0;
}

.me4-navBar-menu > ul > li > a,
.me4-navBar-menu > ul > li > a:visited,
.me4-navBar-menu > ul > li > a:link,
.me4-navBar-menu > ul > li > a:focus,
.me4-navBar-menu > ul > li > a:active {
	padding: 36px 15px;
	font-weight: 700;
	color: #676767 !important;
	outline: none;
	box-shadow: none;
}

ul.dropdown-menu {
	padding: 0;
	left: 0 !important; 
	right: auto !important;
	border-radius: 2px;
	border:none;
}

ul.dropdown-menu > li > a,
ul.dropdown-menu > li > a:visited,
ul.dropdown-menu > li > a:link,
ul.dropdown-menu > li > a:focus,
ul.dropdown-menu > li > a:active {
	padding: 12px 15px;
	font-weight: 700;
	color: #676767 !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
	border-color:#f98435;	
}

.me4-navBar-menu > ul > li > a:hover {
	padding-top: 32px;
	border-top: 4px solid #f98435;
	color:#43A047!important;
}

.me4-navBar-menu > ul > li > a.atualPage {
	color: #43A047 !important;
}

ul.dropdown-menu > li > a:hover {
	background:#2e7d32;
	color: #fff !important;
}

.me4-navBar-menu > ul > li > select,
.me4-navBar-menu > ul > li > select:active,
.me4-navBar-menu > ul > li > select:focus {
	height: 36px;
	border-radius: 2px;
	padding: 0 12px;
	margin-top: 28px;
	margin-left: 15px;
	font-size: 12px;
	background: rgba(0,0,0,0.05);
	color: #676767;
	font-weight: 700;
	border: 2px solid #898989;
	outline: none;
	box-shadow: none;
	transition: border-color 0.3s;
}

.navbar-default .navbar-toggle {
	border:none;
	transition: background-color 0.3s;
}

.navbar-default .navbar-toggle .icon-bar {
	background: #f98434;
	height: 6px;
	width: 36px;
	border-radius: 0;
	transition: background-color 0.3s;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 8px;
}

.navbar-default .navbar-toggle:focus {
	background: transparent;
}

.navbar-default .navbar-toggle:hover {
	background-color: #f98434;
	border-radius: 2px;
}

.navbar-default .navbar-toggle:hover .icon-bar {
	background-color: #fff;
}

.navbar-toggle {
	margin: 21px 0;
	padding: 8px;
}

/************************************************************************************************
	   										PADRÃO
*************************************************************************************************/

section {
	padding-top: 92px;
	padding-bottom: 330px;
}

.me4-section-index {
	padding: 0;
}

.me4-content {
	background: #fff;
	border-radius: 2px;
	padding: 24px 16px 16px 16px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	display: block;
	margin-bottom: 30px;
	overflow: hidden;
}

.me4-btn-1,
.me4-btn-1:visited,
.me4-btn-1:link,
.me4-btn-1:active,
.me4-btn-1:focus {
	display: block;
	background: #f98435;
	color: #fff;
	border:none;
	font-weight: 500;
	border-radius: 2px;
	padding: 10px 16px 6px 16px;
	text-decoration: none;
	outline: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	text-transform: uppercase;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.me4-btn-1:hover {
	background-color: #c96927;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.16);
}

.me4-btn-2,
.me4-btn-2:visited,
.me4-btn-2:link,
.me4-btn-2:active,
.me4-btn-2:focus {
	display: block;
	background: transparent;
	color:#f98435;
	border-radius: 2px;
	padding: 14px 16px 10px 16px;
	text-decoration: none;
	border:none;
	font-weight: 500;
	outline: none;
	box-shadow: none;
	text-transform: uppercase;
	transition: background-color 0.3s;
}

.me4-btn-2:hover {
	background-color: rgba(0,0,0,0.1);
}

.me4-title-1 > h1 {
	font-size: 36px;
	padding: 48px 0;
	color: #676767;
	margin:0;
}

.me4-title-2 > h2, 
.me4-title-2 > h3,
.me4-title-3 > h3,
.me4-title-3 > h2 {
	color: #2e7d32;
	font-size: 24px;
	margin:0;
	padding: 0;
	margin-bottom: 24px;
}

.me4-title-2 > h3 {
	font-size: 16px;
	margin-bottom: 16px;
}

.me4-title-3 > h3 {
	color: #f98434;
	font-size: 16px;
	margin-bottom: 16px;
}

.me4-title-3 > h2 {
	color: #f98434;
}

.me4-date {
	color: #898989;
	font-size: 12px;
}

.me4-formBox {
	margin-bottom: 16px;
}

.me4-formBox > input,
.me4-formBox > input:hover,
.me4-formBox > input:active,
.me4-formBox > textarea,
.me4-formBox > textarea:hover,
.me4-formBox > textarea:active {
	border-radius: 0;
	border:none;
	resize: none;
	box-shadow: none;
	outline: 0;
	border-bottom: 2px solid #ababab;
	height: 44px;
	color: #676767;
	padding:0;
	width: 100%;
	transition: border-bottom-color 0.3s;
}

.me4-formBox > textarea,
.me4-formBox > textarea:hover,
.me4-formBox > textarea:active {
	height: 132px;
	padding: 8px 0;
}

.me4-formBox > input:focus,
.me4-formBox > textarea:focus {
	border-bottom-color: #43A047;
	box-shadow: none;
	outline: none;
}

/************************************************************************************************
	   										HOME
*************************************************************************************************/

section > div {
	padding-bottom: 48px;
}

.about {
	background: #fff
}

.me4-index-imgbox {
	position: relative;
	width: 64px;
	height: 64px;
	display: block;
}

.me4-index-imgbox > img:first-child {
	background: #2e7d32;
	border:none;
	width: 100%;
	height: 100%;
	display: block;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.me4-index-imgbox > img:last-child {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}

.me4-index-box {
	margin-left: 76px;
}

.me4-index-box > p:first-child {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 8px;
}

.me4-index-box > p:last-child {
	margin: 0;
}

.benefit {
	padding-bottom: 18px;
}

.benefit p.text-center {
	margin-bottom: 48px;
}

.tech {
	background: url('../img/tech-bg.jpg') no-repeat #2e7d32;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: #fff;
}

.tech h1 {
	color: #fff;
}

.me4-tech-square {
	display: block;
	width: 16px;
	height: 16px;
	background: #f2f2f2;
}

.me4-tech-content {
	margin-bottom: 32px;
}

.me4-tech-content > .me4-tech-innerContent {
	padding-bottom: 32px;
	border-bottom: 1px solid #f2f2f2;
}

.row:last-child > .me4-tech-content {
	margin-bottom: 0;
}

.row:last-child > .me4-tech-content > .me4-tech-innerContent {
	border-bottom: none;
	padding-bottom: 0;
}

.me4-tech-content > .me4-tech-innerContent > .me4-tech-box {
	margin-left: 40px;
	text-align: left;
}

.me4-tech-content > .me4-tech-innerContent > .me4-tech-box > h3 {
	margin:0;
	margin-bottom: 16px;
	font-size: 16px;
	font-weight: 500;
}

.me4-tech-content > .me4-tech-innerContent > .me4-tech-box > p {
	margin:0;
	line-height: 22px;
}

.me4-tech-content:first-child > .me4-tech-innerContent > .me4-tech-box {
	text-align: right;
	margin-right: 40px;
	margin-left: 0;
}

.partners {
	background: #fff;
}

ol.carousel-indicators > li, ol.carousel-indicators > li.active,
.owl-theme .owl-controls .owl-page span {
	border-radius: 0;
	width: 48px;
	height: 8px;
	border:none;
	background: rgba(0,0,0,0.4);
	margin:0 6px;
}

ol.carousel-indicators > li.active,
.owl-theme .owl-controls .owl-page.active span {
	border:none;
	height: 8px;
	background: #f98434;
}

.carousel-caption {
	bottom: inherit;
	top: 92px;
}

.me4-partners-content {
	box-shadow: none;
	position: relative;
	padding:0;
	margin:0;
  	box-sizing: border-box;
  	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: all .6s ease;
  	transition: all .6s ease;	
}

.me4-partners-content:after {	
	content: "";
	display: block;
	padding-bottom: 100%;
}

.me4-partners-content > .me4-partners-imgBox {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px;	
}

.me4-partners-content > .me4-partners-imgBox > img {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.me4-partners-content:hover {
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
  	filter:none;
}

.owl-theme .owl-controls .owl-page span {
	border-radius: 0;
	border
}

/************************************************************************************************
	   		 								 FOOTER
*************************************************************************************************/

footer {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #2e7d32;
	color: #fff;
}

.me4-footer-index {
	position: inherit;
	left:inherit;
	bottom: inherit;
}

.footer-dark {
	background: #1b5e20;
	padding: 24px 0;
}

.footer-dark address {
	margin:0;
	padding: 0;
}

.footer-light {
	padding: 48px 0 32px 0;
}

.me4-footer {
	margin-top: 76px;
}

.me4-footer:first-child {
	margin-top: -12px;
}

.me4-footer > ul, .contact-infos > ul {
	list-style: none;
	display: block;
	clear: both;
	margin:0;
	padding: 0;
}

.me4-footer > ul > li {
	float: left;
}

.me4-footer > ul > li > a,
.me4-footer > ul > li > a:visited,
.me4-footer > ul > li > a:link,
.me4-footer > ul > li > a:focus
.me4-footer > ul > li > a:active {
	border-radius: 2px;
	display: block;
	padding: 12px;
	margin:2px;
	transition: background-color 0.3s;
	color: #fff;
}

.me4-footer > ul > li > a:hover {
	background-color: rgba(0,0,0,0.1);
	text-decoration: none;
}

.contact-infos > ul > li {
	margin-bottom: 24px;
}

.contact-infos > ul > li:last-child {
	margin: 0;
}

.contact-infos > ul > li > p {
	margin:0;
	margin-left: 40px;
	line-height: 24px;
}

/************************************************************************************************
	   		 								RESPONSIVIDADE
*************************************************************************************************/

@media (min-width: 1340px){
	.container {
		width: 1320px;
	}
}

@media (max-width: 991px) {
	.me4-section-index .col-md-4 {
	 	margin-bottom: 32px;
	}

	section div.about, section div.tech {
		padding-bottom: 16px;
	}

	.row:last-child > .me4-tech-content {
		margin-bottom: 32px;
	}

	.row:last-child > .me4-tech-content > .me4-tech-innerContent {
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 32px;
	}
}

@media (max-width: 767px){
	.me4-footer-menu {
		display: none;
	}

	.me4-footer.pull-right {
		float: inherit !important;
		position: relative;
		height: 48px;
		margin-bottom: 24px;
	}

	.me4-footer.pull-right > ul {
		position: absolute;
		left: 100%;
		margin-left: -364px;
	}

	.navbar-nav .open .dropdown-menu .dropdown-header, 
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 8px 24px;
		font-weight: 500;
		color: #ababab;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		background-color: #2e7d32;
	}
}

@media (max-width: 1199px) {
	.me4-footer-menu {
		display: none;
	}	
}

@media (max-width: 1079px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

    .me4-navBar-menu > ul > li > a,
    .me4-navBar-menu > ul > li > a:visited, 
    .me4-navBar-menu > ul > li > a:link,
    .me4-navBar-menu > ul > li > a:focus,
    .me4-navBar-menu > ul > li > a:active {
    	padding: 10px;
    }

    .me4-navBar-menu > ul > li > a:hover{
		color:#43A047!important;
		border:none;
		padding: 10px;
		background: rgba(0,0,0,0.1)!important;
    }

    .me4-navBar-menu > ul > li > select,
    .me4-navBar-menu > ul > li > select:active,
    .me4-navBar-menu > ul > li > select:focus {
    	margin-left: 0;
    	margin-top: 8px;
    	margin-bottom: 8px;
    }

    .navbar-default .navbar-collapse, 
    .navbar-default .navbar-form {
    	border: none;
    }

	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
	  max-height: inherit;
	}
}

