.me4-medicos_stepContent_img,
.me4-pacientes_stepContent_img {
	margin-bottom: 24px;
}

.me4-medicos_stepContent_img > img,
.me4-pacientes_stepContent_img > img {
	width: 100%;
	height: 164px;
	background-color: #ddd;
	border: none;
}

.me4-medicos_form > form > .row > .col-md-6,
.me4-pacientes_form > form > .row > .col-md-6, 
.me4-medicos_form > form > button,
.me4-pacientes_form > form > button {
	margin-bottom: 8px;
}

.col-md-6 > .me4-content {
	min-height: 187px;
}