.me4-noticia-content {
	padding:0;
}

.me4-noticia-box {
	padding: 24px 16px 16px 16px;
}

.me4-noticia-imgBox {
	width: 100%;
	height: 293px;
	background: #aaa;
}

.me4-noticia-box > p {
	margin-bottom: 0;
	line-height: 20px;
	margin-bottom: 8px;
}

.me4-noticia-box > p:nth-child(2){
	font-weight: 700;
	color: rgba(0,0,0,0.3);
}

.me4-noticia-imgBox > img {
}

.me4-ultimasNews-content {
	padding:0;
}

.me4-ultimasNews-content > ul {
	list-style: none;
	padding: 0;
	margin:0;
}

.me4-ultimasNews-content > ul > li {
	min-height: 88px;
	margin:0;
}

.me4-ultimasNews-content > ul > li:first-child {
	border:none;
}

.me4-ultimasNews-content > ul > li > a,
.me4-ultimasNews-content > ul > li > a:visited,
.me4-ultimasNews-content > ul > li > a:link,
.me4-ultimasNews-content > ul > li > a:active,
.me4-ultimasNews-content > ul > li > a:focus {
	width: 100%;
	height: 100%;
	padding: 16px;
	display: block;
	box-sizing: border-box;
	transition: background-color 0.3s;
}

.me4-ultimasNews-content > ul > li > a > p {
	margin-bottom: 0;
	line-height: 22px;
	color:rgba(0,0,0,0.3);
	font-weight: 700;
}

.me4-ultimasNews-content > ul > li > a > p:first-child {
	color: #2e7d32;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 8px;
}

.me4-ultimasNews-content > ul > li > a:hover > p {
	text-decoration: none;
}

.me4-ultimasNews-content > ul > li > a:hover {
	text-decoration: none;
	background-color:rgba(0,0,0,0.1);
}

.me4-noticia-date {
	font-weight: 700;
	color: rgba(0,0,0,0.5);
	margin-bottom: 16px;
}

.me4-noticia-img {
	width: 410px;
	height: 480px;
	margin-right: 24px;
	margin-bottom: 16px;
	background: #ddd;
}

.me4-noticia-content > p {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}