.me4-parceiros-content > p {
	margin-bottom: 48px;
}

.me4-parceiros-listBox .me4-content {
	position: relative;
	padding:0;
  	box-sizing: border-box;
  	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
  	-webkit-transition: all .6s ease;
  	transition: all .6s ease;
}

.me4-parceiros-listBox .me4-content:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.me4-parceiros-listBox .me4-content > .me4-parceiros-imgBox{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.me4-parceiros-listBox .me4-content > .me4-parceiros-imgBox > img {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.me4-parceiros-listBox .me4-content:hover {
	-webkit-filter: grayscale(0%);
  	filter: grayscale(0%);
  	filter:none;
  	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.26), 0 2px 16px 0 rgba(0, 0, 0, 0.22);
}