.me4-pesquisa_exportacao-imgContent > img {
	padding: 0;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	margin: 0 auto
}

.me4-pesquisa_exportacao-textContent > p {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}

.me4-pesquisa_exportacao-textContent {
	min-height: 410px;
}