.me4-produtos_vazio_content {
	min-height: 300px;
}

.me4-produtos_vazio_content > h1 {
	color: #2e7d32;
}

.me4-produtos-content {
	position: relative;
}

.me4-produtos-content > .pull-right {
	position: absolute;
	right:0;
	top:0;
	height: 100%;
	width: 110px;
	background: #bbb;
}

.me4-produtos-box {
	margin-right: 106px;
}

.me4-produtos-box-info > tbody > tr > td {
	padding-bottom: 8px;
	line-height: 20px;
}

.me4-produtos-box-info > tbody > tr > td:first-child {
	font-weight: 700;
	padding-right: 8px;
}