.me4-tecnologia-content-lg, .me4-tecnologia-content-sm {
	padding:0;
	overflow: inherit;
}
.me4-tecnologia-content-lg > .row {
	height: 100%;
	min-height: 275px;
}

.me4-tecnologia-content-lg > .row > div.col-md-4{
	height: 100%;
}


.me4-tecnologia-content-lg > .row > div.col-md-4 > .me4-tecnologia-imgBox-lg {
	height: 100%;
}

.me4-tecnologia-box-lg {
	padding: 24px 30px 16px 16px;
}

.me4-tecnologia-imgBox-sm {
	min-height: 225px;
}

.me4-tecnologia-box-sm {
	padding: 16px;
	padding-bottom: 24px;
}